.all {
  width: 100%;
  background-color: white;

  display: flex;
  padding: 1%;
}

.logo {
  padding: 0;
}

.iconlist {
  margin: 1% 0 0 50%;
  padding: 0%;
  display: flex;
}

.icon {
  float: left;
  margin: 10%;
}

.main {
  padding-top: 300px;
  height: 1000px;
}

.container {
  width: 100%;
}
