.all {
  width: 100%;
  background-color: white;

  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 1%;
}

.logo {
  padding: 0;
}

.iconlist {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

.icon {
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}
