.hr {
  border-width: 1px;
  border-color: #e8e9e8;
}

.cart_title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
}

.cart_content {
  display: grid;
  background-color: lightgrey;
  word-wrap: break-word;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 7% 2%;
  justify-content: space-between;
  text-align: center;
  padding: 4% 2%;
}

.text_content p span {
  margin-right: 25%;
}

.quantity {
  padding-right: 14%;
}

.cart_total {
  display: flex;
}

.cart_total {
  justify-content: right;
  margin-right: 5%;
  font-size: 1.5rem;
}

.total {
  border-bottom: 1px solid black;
  background-color: lightgrey;
}

/* ボタン */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.purchase {
  position: relative;
  margin: 0.5em;
  padding: 1em 2em;
  width: 10vw;
  color: white;
  font-size: 1vw;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  transition: 0.3s;
  white-space: nowrap;
  word-break: break-all;
  border-radius: 5px;
  border: 1px solid #1aaada;
  margin-left: -40%;
}

.purchase:hover {
  margin-top: 1px;
  color: white;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  border-bottom: 2px solid #1897c1;
}

.purchase::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#6b95f0),
    to(#1e90ee)
  );
  border-radius: 5px;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.purchase:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.shopping {
  position: relative;
  margin: 0.5em;
  padding: 1em 2em;
  width: 10vw;
  color: white;
  font-size: 1vw;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  transition: 0.3s;
  white-space: nowrap;
  word-break: break-all;
  border-radius: 5px;
  border: 1px solid #1aaada;
  margin-left: 40%;
}

.shopping:hover {
  margin-top: 1px;
  color: white;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  border-bottom: 2px solid #1897c1;
}

.shopping::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#6b95f0),
    to(#1e90ee)
  );
  border-radius: 5px;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.shopping:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
