.section {
  max-width: 300px;
  margin: 60px auto;
}
a.btn_09 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e90ee;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100px;
  padding: 20px 20px 20px 75px;
  background-color: #ffffff;
  border: 5px solid #1ed6ee;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  transition-duration: 0.3s;
}
a.btn_09::before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -30px;
  background-image: url("/images/favicon_modified.png");
  background-size: contain;
  background-repeat: no-repeat;
}
a.btn_09 span {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
}
a.btn_09 span span {
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
}
a.btn_09:hover {
  color: #ffffff;
  background-color: #1ed6ee;
}
