.hr {
  border-width: 1px;
  border-color: #e8e9e8;
}

.img {
  width: 100%;
  height: 100%;
}

.head {
  padding-top: 2%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: white;
}

.searchList {
  background-color: rgb(243, 239, 239);
  padding: 0.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.cp_ipselect {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1%;
}
.category1 {
  font-family: inherit;
  background-color: transparent;
  width: 40%;

  font-size: 15px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 10% 0 50%;
}
.category1:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.cp_ipselect .category1 {
  appearance: none;
  -webkit-appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect:after {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.category1_selectlabel {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: normal;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}
.category1:focus ~ .category1_selectlabel,
.category1:valid ~ .category1_selectlabel {
  color: #021b2b;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}
.category1_selectbar {
  position: relative;
  display: block;
  width: 100%;
}
.category1_selectbar:before,
.category1_selectbar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #21b7e0;
  transition: 0.2s ease all;
}
.category1_selectbar:before {
  left: 50%;
}
.category1_selectbar:after {
  right: 50%;
}
.category1:focus ~ .category1_selectbar:before,
.category16:focus ~ .category1_selectbar:after {
  width: 50%;
}
.category1_highlight {
  position: absolute;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.category2 {
  margin: 0 0 0 5%;
}

.item {
  list-style: none;
}
.itemA {
  list-style: none;
  font-weight: bold;

  font-size: large;
}
.itemB {
  list-style: none;
  font-weight: bold;
}

.side {
  display: flex;
}
@media (min-width: 600px) {
  .side div {
    width: 48%;
  }
  .side div:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  .side div {
    width: 31.3333%;
  }
  .side div:nth-child(2n + 1) {
    clear: none;
  }
  .side div:nth-child(3n + 1) {
    clear: both;
  }
}

.a:hover {
  transform: translateY(-0.1875em);
}

.items_list1 {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.items_list2 {
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.category3 {
  display: flex;
  margin-right: 2%;
}

.category {
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.next_page {
  text-align: right;
}

.next_list {
  display: flex;
  list-style: none;
  justify-content: right;
}

.form {
  background-color: rgb(242, 239, 239);
  margin: 10%;
  padding: 5%;
  border-radius: 10px;
}

.h2 {
  padding: 1rem 3rem;
  color: rgb(8, 8, 8);
  border-radius: 100vh;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  background-image: -webkit-linear-gradient(
    right,
    #5de1d6 0%,
    #1ed6ee 100%
  );
  background-image: linear-gradient(
    to left,
    #5de1d6 0%,
    #1ed6ee 100%
  );
  white-space: nowrap;
}

.footer {
  background-color: #454545;
  width: 100%;
  padding-top: 8%;
  color: white;
  text-align: right;
}

.border {
  background: linear-gradient(
    transparent 60%,
    rgb(167, 249, 119) 60%
  );
}
