.item {
  list-style: none;
}
.itemA {
  list-style: none;
  font-weight: bold;
  background: linear-gradient(transparent 60%, #9eceff 60%);
  font-size: large;
}
.itemB {
  list-style: none;
  font-weight: bold;
}

.side {
  display: flex;
}
@media (min-width: 600px) {
  .side div {
    width: 48%;
  }
  .side div:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  .side div {
    width: 31.3333%;
  }
  .side div:nth-child(2n + 1) {
    clear: none;
  }
  .side div:nth-child(3n + 1) {
    clear: both;
  }
}

.a:hover {
  transform: translateY(-0.1875em);
}

.items_list1 {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.items_list2 {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}

.category1 {
  display: flex;
  margin-right: 2%;
}

.category2 {
  display: flex;
  margin-right: 2%;
}

.category3 {
  display: flex;
  margin-right: 2%;
}

.category {
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.next_page {
  text-align: right;
}

.next_list {
  display: flex;
  list-style: none;
  justify-content: right;
}
