.hr {
  border-width: 1px;
  border-color: #e8e9e8;
}

.detail_img {
  margin-top: 50%;
  margin-left: 10%;
}

.detail_page {
  display: flex;
  justify-content: space-around;
  white-space: normal;
  margin: 3% 10% 5% 10%;
  background: rgba(193, 203, 209, 0.2);
  padding-top: 5%;
  padding-bottom: 5%;
}

.details {
  margin-left: 10%;
}

.detail_title {
  text-align: center;
  background-color: lightgrey;
  padding: 2%;
  margin-bottom: 10%;
  margin-right: 5%;
}

.explain {
  display: flex;
  justify-content: space-between;
}

.explain_text {
  background-color: lightgray;
  padding: 2%;
  margin-right: 5%;
}

.flavor {
  display: flex;
  margin-right: 10%;
  margin-bottom: 3%;
}

.ingredient {
  display: flex;
}

.ingredient_text {
  background-color: lightgray;
  padding: 2% 13% 2% 0;
  margin-left: 3%;
  margin-right: 5%;
}

.quantity {
  display: flex;
}

.flavor_ingredient {
  display: flex;
}

.total {
  display: flex;
}

.cart {
  display: flex;
  justify-content: right;
  margin-top: 5%;
  margin-right: 10%;
}

.select {
  margin-top: 5%;
  height: 10%;
  border: 1px solid #1aaada;
  padding: 1.5%;
  border-radius: 3px;
}

.explain_title {
  margin-right: 10%;
  white-space: nowrap;
}

.ingredient_title {
  margin-right: 10%;
  white-space: nowrap;
}

.flavor_title {
  margin-right: 10%;
}

.quantity_title {
  margin-right: 10%;
}

.total_title {
  margin-right: 10%;
}

.plus {
  height: 15%;
  margin-top: 1.5%;
  font-size: 1rem;
  margin-right: 1%;
  background-color: lightgray;
  position: relative;
  color: white;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  transition: 0.3s;
  white-space: nowrap;
  word-break: break-all;
  border-radius: 5px;
  border: 1px solid #1aaada;
}

.minus {
  height: 15%;
  margin-top: 1.5%;
  font-size: 1rem;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  color: white;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  transition: 0.3s;
  white-space: nowrap;
  word-break: break-all;
  border-radius: 5px;
  border: 1px solid #1aaada;
}

.button05 {
  border: none;
  /* buttonの枠線解除 */
  border-radius: 4px;
  margin-top: 2%;
}

.button05 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1em 2em;
  width: 280px;
  height: 40px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.button05 a::after {
  content: '';
  /* ↑矢印マーク */
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button05 a:hover {
  transform: translateY(3px);

  box-shadow: 0 1px 0 #aaaaaa;
}

.button05 a:active {
  color: white;
}

.footer {
  background-color: #454545;
  width: 100%;
  padding-top: 8%;
  color: white;
  text-align: right;
}

.fav_button {
  border: none;
  /* buttonの枠線解除 */
  border-radius: 4px;
  margin-right: 10%;
  width: 180px;
  height: 44px;
}

.fav_button a {
  border: 2px solid rgb(40, 216, 239);
  border-radius: 4px;
  color: rgb(8, 201, 255);
  width: 180px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: 0.4s;
  margin-right: 10%;
}

.fav_button a:hover {
  transform: translateY(3px);
  transition: 0.4s;
}

.fav_button :active {
  background: rgb(203, 239, 254);
}

.fav_button :focus {
  background: rgb(203, 239, 254);
}

.favIcon {
  margin-right: 3%;
  margin-bottom: 0.5%;
}

.cart_button {
  border: none;
  /* buttonの枠線解除 */
  border-radius: 4px;
  margin-left: 3%;
}

.cart_button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1em 2em;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#5de1d6),
    to(#1ed6ee)
  );
  box-shadow: 0 5px 0 #64cccf;
  transition: 0.3s;
}

.cart_button a:hover {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#69f4e8),
    to(#4ce6fa)
  );
  transform: translateY(3px);
  white-space: nowrap;
  box-shadow: 0 1px 0 #39a5e8;
}

.cart_button a::after {
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.cart_button a:active {
  color: white;
}

.buttons {
  display: flex;
  padding: 3%;
}

.buttonsRight {
  margin: 0 0 0 25%;
  display: flex;
  padding: 1%;
}
